body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 50px;

  p {
    font-size: 24px;
  }

  div {
    width: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0px;

    a {
      /* border: 1px solid red; */
      padding: 20px 30px;
      background-color: blue;
      color: aliceblue;
      font-weight: bold;
      text-decoration: none;
    }
    a:hover {
      cursor: pointer;
      scale: 0.8;
      transition: all 300ms;
    }
  }
}
